<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Character Saver</p>
    <a href="/characters/addChar" class="btn btn-primary btn-darken2 btn-lg">Add Characters</a>
    <a href="/items/add" class="btn btn-info btn-darken3 btn-lg">Add Items</a>
    
</div>