<div class="card card-body">
    <h3>Characters</h3>
    <form action="/characters" method="post">
        <div class="form-group">
            <label for="charName">Character Name</label>
            <input type="text" class="form-control" name="charName" required>
        </div>
        <div class="form-group">
            <label for="charClass">Character Class</label>
            <input type="text" class="form-control" name="charClass" required></input> 
        </div>
        <div class="form-group">
            <label for="charRace">Character Race</label>
            <input type="text" class="form-control" name="charRace" required></input>  
        </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>